{% extends 'Layouts/layoutSite.html.twig' %}

{% block title %}
    Agenda
{% endblock %}

{% block content %}

    <div class="container">
        <div class="content">
            <h3 class="title">Agenda</h3>
        </div>
    </div>

{% endblock %}