{% extends "Layouts/layoutSite.html.twig" %}

{% block title %}
Philosophie
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">

        <h3 class="title">Philosphie du club</h3>

        <p>
            Le Photo Club de Buzançais est une association à but non lucratif crée par des passionnés de la photographie pour mettre en commun leurs pratiques et leurs connaissances.
            Quelle que soit la technique, argentique ou numérique, l'objectif du club est toujours le même : créer une image qui suscite de l'émotion.
            Pour être un photo club moderne et ouvert à toutes les formes d'expression photographique, le club a besoin de vous, de votre participation aux
            diverses activités : studio, diaporamas , sorties, mais aussi : expositions, concours internes et externes. Le club n'est pas une école de photo, mais une association
            où chaque adhérent peut enrichir la communauté par ses initiatives. Depuis sa création, le Club Photo de Buzançais entretient une ambition, faire partager l'amour de la photographie au plus grand nombre.
        </p>

    </div>
</div>


{% endblock %}