{% extends 'Layouts/layoutSite.html.twig' %}

{% block title %}
La vie du club
{% endblock %}

{% block content %}

    <div class="container">
        <div class="content">
            <h3 class="title">La vie du club</h3>
        </div>
    </div>

{% endblock %}