<div class="menuWrapper">
    <div class="menu">
        <div class="header">
    <h2 id="header">
        Club photo de Buzançais
    </h2>
</div>
        <ul>
            <li><a href="{{ path("app_bienvenue") }}">Bienvenue</a></li>
            <li><a href="{{ path("app_philosophie") }}">Philosophie</a></li>
            <li><a href="google.com">La vie du club</a></li>
            <li><a href="google.com">Photos</a></li>
            <li><a href="google.com">Renseignements</a></li>
            <li><a href="google.com">Agenda</a></li>
            <li><a href="google.com">Liens</a></li>
        </ul>
        <br>
    </div>
</div>