body{
    background: #91D3D1;
}

h1{
    color: #f9e45b;
}

p{
    color: lightyellow;
    font-family: arial, serif;
    font-size: 18px;
    background: #88C07A;
    padding: 10px;
    -webkit-border-radius: 20px;
}

.title{
    margin-bottom: 40px;
    color: #FAE96A;
    font-size: 23px;
}

.container{
    position: absolute;
    top: 140px;
    z-index: 0;
    margin-right: 100px;
}

.content{
    margin-left: 200px;
    margin-right: 200px;
}

#bienvenueText{
    margin-top: 300px;
    margin-left: 550px;
}

#header {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: #f9e45b;
    margin-bottom: 40px;
    background: #91D3D1;
    z-index: 2;
}

.menuWrapper{
    position: fixed;
    top: 0;
    width: 100%;
    background: #91D3D1;
    z-index: 2;
}

.menu{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background: #91D3D1;
    z-index: 2;

}

.footerWrapper{
    position: fixed;
    bottom: 0;
    background: #91D3D1;
    width: 100%;
}

.footer{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-bottom: 40px;
    text-align: center;
    color: red;
}

.ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    float:left;
}

ul li a{
    width: 100px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 35px;
    font-size: 18px;
    background: #9FD8C8;
    padding: 10px;
    -webkit-border-radius: 8px;
}

ul li a:hover{
    color: black;
    background: #f9e45b;
}

#photo1{
    position: absolute;
    top: 400px;
    left: 250px;
    z-index: 1;

    -webkit-border-radius: 3%;

}